body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #333333;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;   
}

hr {
    display: block;
    width: 100%;
    height: 1px;
    border: 0;
    margin: 45px 0;
    background-color: #e5e5e5;
}

/* container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* header */
.header {
    padding-top: 30px;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
}

.nav {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
}

.nav__link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0 27px;
    color: #ffffff;
    text-decoration: none;

    transition: color .2s linear;
}

.nav__link:hover {
    color: #fce38a;
}

.nav__link:hover:after /*, .nav__link.active::after*/ {
    opacity: 1;
}

/* .nav__link.active {
    color: #fce38a;
} */

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    position: absolute;
    opacity: 0;
    top: 200%;
    left: 0;
    z-index: 1;
    

    transition: opacity .2s linear;
}

.nav__link:last-child {
    margin: 0 0 0 27px;
}

/* intro */
.intro {
    padding-top: 229px;
    width: 100%;
    min-height: 1000px;
    background: url(../img/main.jpg) center no-repeat;
    background-size: cover;
}

.into__inner {
    /* width: 100%; */
    width: 850px;
    margin: 0 auto;
    text-align: center;
}

.inro__suptitle {
    font-family: 'Kaushan Script';
    font-size: 72px;
    font-weight: 400;
    color: #ffffff;
}

.intro__title {
    margin-top: 30px;
    font-size: 150px;
    line-height: 140px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.intro__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color:#ffffff;
    margin: 70px auto 50px;
}

/* Button */
.btn {
    /* margin-top: 50px; */
    display: inline-block;
    vertical-align: top;
    border: 3px solid #ffffff;
    padding: 15px 32px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;

    transition: background .2s linear, color .2s linear;
}

.btn:hover {
    background-color:#ffffff;
    color: #333333;
}

/* Slider */
.inro__slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 157px;
}

.slider__item {
    padding: 25px 0;
    width: 23%;
    text-transform: uppercase;
    position: relative;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.7;

    border-top: 3px solid #fff;
}

.slider__item:first-child {
    opacity: 1;
}

.slider__item:first-child::before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;

    position: absolute;
    left: 0;
    top: -3px;
    z-index: 1;

    background-color: #f38181;
}

.slider__num {
    font-size: 24px;
    font-weight: 700;
}


/* Section */
.section {
    padding: 90px 0;
}

.section__header {
    width: 100%;
    max-width: 955px;
    margin: 0 auto 50px;
    text-align: center;
}

.section__suptitle {
    font-family: 'Kaushan Script';
    font-size: 24px;
    font-weight: 400;
}

.section__title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 23px;
}

.section__title::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 40px auto 0;
}

.section__text {
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
    margin-top: 45px;
}

.section__text p {
    margin: 0;
}

/* Card */
.card {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}

.card__item {
    width: 380px;
}

.card__inner {
    background-color: #95e1d3;
    position: relative;
}

.card__inner:hover .card__descr{
    opacity: 1;
}

.card__inner:hover .card__img img{
    opacity: .1;  
}

.card__img {
    background-image: linear-gradient(0.0deg, rgba(252,227,138,0.89) 0%, rgba(243,129,129,0.89) 100%);
}

.card__inner:hover .card__img {
    /* transform: translateX(-10px) translateY(-10px); */
    transform: translate3d(-10px, -10px, 0);
    transition: transform .2s linear;
}

.card__img img {
    display: block;
    transition: opacity .2s linear;
}

.card__descr {
    width: 100%;
    color:#fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity .2s linear;
}

.card__descr p {
    margin: 0;
    margin-top: 9px;
}

.card__info {
    margin-top: 30px;
    text-align: center;
}

.card__name {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.card__prof {
    margin-top: 11px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: #999999;
}

/* Statictics */
.stastics {
    background-color: #95e1d3;
}

.stat {
    display: flex;
}

.stat__item {
    padding: 80px 30px;
    flex: 1 1 0;
    border-left: 1px solid #b6ebe1;
    text-align: center;
    color: #fff;

}

.stat__item:last-child {
    border-right: 1px solid #b6ebe1;
}

.stat__count {
    font-size: 72px;
    font-weight: 700;
}

.stat__text {
    margin-top: 25px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

/* Services */

.services {
    display: flex;
}

.services__item {
    flex: 1 1 0;
    padding-left: 90px;
    padding-right: 20px;
    position: relative;
}

.services__icon {
    position: absolute;
    top: 0;
    left: 30px;
    z-index: 1;
}

.services__title {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.services__text {
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
}

/* Devices */

.section--devices {
    padding-bottom: 0;
    background: url(../img/section_devices/bg_devices.jpg) center no-repeat;
    background-size: cover;
}

.devices {
    width: 100%;
    max-width: 520px;
    margin: 0 auto;
    position: relative;
}

.devices__item {
    display: block;
}

.devices__item--phone {
    position: absolute;
    bottom: -91px;
    left: 362px;
    z-index: 1;
}

/* WE Do */

.wedo {
    display: flex;
}

.wedo__item {
    width: 50%;
}

/* Accordion */

.accordion__item {
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;

}

.accordion__header {
    position: relative;
    padding: 15px;
    display: flex;
    align-items: center;
    border-bottom: none;
}

.accordion__header::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 3px solid #cccccc;
    border-right: 3px solid #cccccc;
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;
    transform: translateY(-50%) rotate(135deg);

}

.accordion__title {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 15px;
}

.accordion__content {
    padding: 21px 55px 28px 20px;
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    font-style: italic;
    color: #999999;
    margin: 0;
    display: none;
}

.accordion__content.active {
    display: block;
    border-top: 1px solid #e5e5e5;
}

/* Reviews */

.section--gray {
    padding: 60px 0;
    background-color: #f6f6f6;
}

.reviews {
    padding: 0 110px;
    position: relative;
}

.reviews__item {
    padding-left: 210px;
    position: relative;
}

.reviews__photo {
    padding: 45px 43px 44px 44px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border: 3px solid #95e1d3;
}

.reviews__text {
    font-family: Roboto;
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    font-style: italic;
    color: #999999;
}

.reviews__author {
    font-family: 'Kaushan Script';
    font-size: 24px;
    font-weight: 400;
    margin-top: 20px;
}

.reviews__author::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin-right: 10px;
}

.reviews__btn {
    font-size: 0;
    color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.reviews__btn::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 3px solid #cccccc;
    border-left: 3px solid #cccccc;
    
}

.reviews__btn--prev {
    left: 0;
    transform: rotate(-45deg);
}

.reviews__btn--next {
    right: 0;
    transform: rotate(135deg);
}

.reviews__second {
    padding: 0 65px;
}

.reviews__avatar {
    padding-left: 250px;
}

.reviews__avatar .reviews__photo {
    border: none;
    padding: 0;
    top: -20px;
}

/* Social */
.social {
    display: flex;
    justify-content: center;

}

.social__icon {
    display: block;
    background-color: #fce38a;
    width: 56px;
    height: 56px;
    border-right: 1px solid #fac788;
    text-align: center;
    padding-top: 13px;
    font-size: 25px;
    text-decoration: none;
    color: #f38181;
    transition: background-color .2s linear, color .2s linear;
}

.social__icon:last-child {
    border: none;
}

.social__icon:hover {
    color: #fff;
    background-color: #f38181;
}


/* Logos */

.logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Works */
.section_works {
    padding-bottom: 0;
}

.works {
    display: flex;
}

.works__col {
    flex: 1 1 0;
}

.works__item {
    position: relative;
    background-image: linear-gradient(0.0deg, rgba(252,227,138,0.89) 0%, rgba(243,129,129,0.89) 100%);
}

.works__item:hover .works__img {
    opacity: .1;
}

.works__item:hover .works__info {
    opacity: 1;
}

.works__img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity .2s linear;
}

.works__info {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    opacity: 0;
    transition: opacity .2s linear;
}

.works__title {
    margin-top: 12px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.works__text {
    margin-top: 10px;
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    font-style: italic;
    color: #ffffff;
}

/* Clients */
.section--clients {
    background: url(../img/clients/bg_clients.jpg) center no-repeat;
    padding: 90px 0 50px 0;
}

.clients {
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
}

.clients__item {
    width: 50%;
    padding: 0 50px 0 180px;
    position: relative;
    margin-bottom: 70px;
}

.clients__img {
    position: absolute;
    top: 0;
    left: 40px;
    z-index: 1;
}

.clients__name {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.clients__prof {
    margin-top: 10px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}

.clients__prof::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 15px 0 20px 0;
}

.clients__descr {
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
}

/* Blog */
.blog {
    display: flex;
    justify-content: space-between;
}

.blog__item {
    width: 31%;
}

/* .blog__item:last-child {
    right: 0;
} */

.blog__header {
    position: relative;
}

.blog__img {
    display: block;
    /* width: 100%;
    height: auto; */
}

.blog__date {
    position: absolute;
    bottom: 10px;
    left: -10px;
    z-index: 1;
    display: block;
    padding-top: 5px;
    width: 60px;
    height: 70px;
    background-color: #95e1d3;
    text-align: center;

    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.blog__date div {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    text-transform: none;
}

.blog__content {
    margin-top: 15px;
}

.blog__content::after {
    content: "";
    display: block;
    width: 380px;
    height: 1px;
    background-color: #e5e5e5;
    margin: 20px 0;
}

.blog__title a {
    display: block;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: #333333;
}

.blog__title a:hover {
    text-decoration: underline;
}

.blog__text {
    margin-top: 10px;
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
}

.blog__footer span {
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    font-style: italic;
    color: #999999;
    margin-right: 15px;
    margin-left: 6px;
}

.blog__footer i {
    color: #95e1d3;
}