body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #333333;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;   
}

/* container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* header */
.header {
    padding-top: 30px;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
}

.nav {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
}

.nav__link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0 27px;
    color: #ffffff;
    text-decoration: none;

    transition: color .2s linear;
}

.nav__link:hover {
    color: #fce38a;
}

.nav__link:hover:after /*, .nav__link.active::after*/ {
    opacity: 1;
}

/* .nav__link.active {
    color: #fce38a;
} */

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    position: absolute;
    opacity: 0;
    top: 200%;
    left: 0;
    z-index: 1;
    

    transition: opacity .2s linear;
}

.nav__link:last-child {
    margin: 0 0 0 27px;
}

/* intro */
.intro {
    padding-top: 229px;
    width: 100%;
    min-height: 1000px;
    background: url(../img/main.jpg) center no-repeat;
    background-size: cover;
}

.into__inner {
    /* width: 100%; */
    width: 850px;
    margin: 0 auto;
    text-align: center;
}

.inro__suptitle {
    font-family: 'Kaushan Script';
    font-size: 72px;
    font-weight: 400;
    color: #ffffff;
}

.intro__title {
    margin-top: 30px;
    font-size: 150px;
    line-height: 140px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.intro__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color:#ffffff;
    margin: 70px auto 50px;
}

/* Button */
.btn {
    /* margin-top: 50px; */
    display: inline-block;
    vertical-align: top;
    border: 3px solid #ffffff;
    padding: 15px 32px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;

    transition: background .2s linear, color .2s linear;
}

.btn:hover {
    background-color:#ffffff;
    color: #333333;
}

/* Slider */
.inro__slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 157px;
}

.slider__item {
    padding: 25px 0;
    width: 23%;
    text-transform: uppercase;
    position: relative;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.7;

    border-top: 3px solid #fff;
}

.slider__item:first-child {
    opacity: 1;
}

.slider__item:first-child::before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;

    position: absolute;
    left: 0;
    top: -3px;
    z-index: 1;

    background-color: #f38181;
}

.slider__num {
    font-size: 24px;
    font-weight: 700;
}

